

/* Cadastro Indivuduo */

#cadastrarIndividuo,
#cadastrarMissao,
#cadastroRecurso{
    padding: 10px;
    max-width: 100%;
}
table{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
}
#moralidade{
    display:flex;
    justify-content: space-around;
}
td input{
    width: 100%;
}

#btnForm{
    display: flex;
    min-width:50%;
    justify-content: space-evenly;
}
/* #btnForm button{
    flex:1;
} */

#corpo{
    min-width:30%;
    max-width: 100%;
    background-image: url(../IMGs/imgRepositorio/1cYrMYF.gif);
}

/* style main */


/* Cadastro Indivuduo */