/* Váriaveis de cores */
:root{
    --cinza-claro-:#EEE;
    --cinza-escuro-:#555;
    --preto-claro-:#333;
    --bgForm-:rgba(34, 34, 34, 0.61);
}
/* Váriaveis de cores */

/* Consulta de Individuos */
/* #tabelaIndividuos{
    font-size: small;
} */

#pesquisaIndividuos,
#pesquisaMissao,
#pesquisaRecursos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#tabelaIndividuos,
#tabelaMissao,
#tabelaRecursos{
    border-bottom: 2px solid var(--cinza-claro-); 
    max-width: 90%;
}
#tabelaIndividuos td,
#tabelaMissao td,
#tabelaRecursos td{
    padding: 0 10px;
}

#listaHabilidades{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Consulta de Individuos */


/* Consulta de Missão */
#statusMissaoRadio{
    display: flex;
}
/* Consulta de Missão */

/* icons  */

.icone{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.selecaoPerfil{
    cursor: pointer;
    width: 80px;
    height: 80px;
}

/* icons  */