/* Váriaveis de cores */
:root{
    --cinza-claro-:#EEE;
    --preto-claro-:#333;
    --cinza-escuro-:#555;
    --bgForm-:rgba(34, 34, 34, 0.61);
}
/* Váriaveis de cores */
/* style do body */
body{
    background-color: #000;
    margin: 0px;
    background-image: url(../IMGs/imgRepositorio/bgPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    color: var(--cinza-claro-);
    zoom: 0.8;
}
/* style do body */
/* style nav */
nav{
    background-color: var(--preto-claro-);
    display: flex;
    justify-content: space-between;
}
nav li,
aside li,
h3{
    list-style: none;
    cursor: pointer;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}
h3{
    margin: 12px 3px; 
}

li:hover,
h3:hover{
    background-color:var(--cinza-escuro-);
    text-decoration: underline;
}

nav figure img{
    width: 50px;
    border-radius: 50%;
    cursor:pointer;
}
nav figure{
    padding: 0;
    flex: 1;
    margin: 8px 20px;
}
nav ul{
    display: flex;
}
#logout{
    flex: 4;
    justify-content: flex-end;
}
/* style nav */

/* style main */
#conteudo{
    display:flex;
    justify-content: space-between;
}
aside{
    background-color: var(--preto-claro-);
}
#gerenciador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 93%;
    padding: 0;
}
#gerenciador li{
    padding: 5px 3px 5px 3px;
}
#ladoEsquerdo{
    flex:2;
}

#middle,
#ladoDireito{
    flex:1;
}
section{
    border:2px solid var(--cinza-claro-);
    background-color: var(--bgForm-);
    border-bottom-right-radius: 20px;
}

.edicoesFlutuantes{
    position: absolute;
    top:400;
    left:400;
}

/* style main */

/* toggles */
.menu,
.subMenu{
    display: none;
}
.ativo{
    display: block;
}

/* toggles */


/* recursos */
/* #recursoForm{
    width: 70%;
} */

/* recursos */

/* teste */
/* teste */
 
/* primeiro step point 800 de width */