/* Váriaveis de cores */
:root{
    --cinza-claro-:#EEE;
    --preto-claro-:#333;
    --cinza-escuro-:#555;
    --bgForm-:rgba(34, 34, 34, 0.61);
}
/* Váriaveis de cores */
body{
    font-family:monospace;
    color: var(--cinza-escuro-);
}