/* Váriaveis de cores */
:root{
    --cinza-claro-:#EEE;
    --preto-claro-:#333;
    --cinza-escuro-:#555;
    --bgForm-:rgba(34, 34, 34, 0.61);
}
/* Váriaveis de cores */
/* style do body */
body{
    background-color: #000;
    margin-top: 0px;
    background-image: url(../IMGs/imgRepositorio/bgPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    color: var(--cinza-claro-);
}
/* style do body */
/* style nav */
nav{
    background-color: var(--preto-claro-);
    display: flex;
    justify-content: space-between;
}
nav li,
aside li,
h3{
    list-style: none;
    cursor: pointer;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}
h3{
    margin: 12px 3px; 
}

li:hover,
h3:hover{
    background-color:var(--cinza-escuro-);
    text-decoration: underline;
}

nav figure img{
    width: 50px;
    border-radius: 50%;
    cursor:pointer;
}
nav figure{
    padding: 0;
    flex: 1;
    margin: 8px 20px;
}
nav ul{
    display: flex;
}
#logout{
    flex: 4;
    justify-content: flex-end;
}
/* style nav */

/* style main */
#conteudo{
    display:flex;
    justify-content: space-between;
}
aside{
    background-color: var(--preto-claro-);
}
#gerenciador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 93%;
    padding: 0;
}
#gerenciador li{
    padding: 5px 3px 5px 3px;
}
#ladoEsquerdo{
    flex:2;
}
#ladoDireito{
    flex: 1;
}
#ladoEsquerdo{
    /* display: flex; */
    /* flex-direction: column; */
}
/* #ladoDireito{
    display:flex;
    justify-content: center;
    height: 91vh;
    background-color:var(--bgForm-);
    overflow: hidden;
} */
section{
    border:2px solid var(--cinza-claro-);
    background-color: var(--bgForm-);
    border-bottom-right-radius: 20px;
    /* max-width: 40%; */
}


form{
    padding: 10px;
    max-width: 100%;
}
table{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
}
#moralidade{
    display:flex;
    justify-content: space-around;
}
td input{
    width: 100%;
}

#btnForm{
    display: flex;
    min-width:50%;
    justify-content: space-evenly;
}
/* #btnForm button{
    flex:1;
} */

#corpo{
    min-width:30%;
    max-width: 100%;
    background-image: url(../IMGs/imgRepositorio/1cYrMYF.gif);
}

/* style main */
/* toggles */
.menu,
.subMenu{
    display: none;
}
.ativo{
    display: block;
}

/* toggles */


/* recursos */
/* #recursoForm{
    width: 70%;
} */

/* recursos */

/* teste */
/* teste */
 
/* primeiro step point 800 de width */